@model SocialMediaLink
@{
    ViewData["Title"] = "CreateOrUpdateSocailMediaLink";
    Layout = "~/Pages/Shared/_LayoutAdmin.cshtml";
}

<div class="vh-100">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">@(Model.Id == 0 ? "Yeni SocialMediaLink Ekleyin" : "SocialMediaLink 'i Güncelleyin" )</h6>
            <form asp-action="/admin/socail-media-link-edit" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Id" type="hidden" value="@Model.Id" />

                <div class="mb-3">
                    <label asp-for="Title" for="socialMediaLinkTitleInput" class="form-label">Title <span class="text-danger">*</span></label>
                    <input asp-for="Title" type="text" class="form-control" id="socialMediaLinkTitleInput">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Url" for="socialMediaLinkUrlInput" class="form-label">Url <span class="text-danger">*</span></label>
                    <input asp-for="Url" type="text" class="form-control" id="homePageSettingVideoInput">
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Icon" for="socialMediaLinkIconInput" class="form-label">Icon <span class="text-danger">*</span></label>
                    <input asp-for="Icon" type="text" class="form-control" id="homePageSettingDescInput" aria-describedby="socialMediaIconHelp"/>
                    <span asp-validation-for="Icon" class="text-danger"></span>
                    <div id="socialMediaIconHelp" class="form-text">
                        Kullanabileceğiniz iconlar: facebook, twitter, youtube, dribbble-outline, pinterest-outline
                    </div>
                </div>



                @*                <div class="mb-3">
                <label asp-for="Des" for="processPriceInput" class="form-label">Price <span class="text-danger">*</span></label>
                <input asp-for="Price" type="text" class="form-control" id="processPriceInput" aria-describedby="processPriceHelp">
                <span asp-validation-for="Price" class="text-danger"></span>
                <div id="processPriceHelp" class="form-text">
                Küsuratı "VİRGÜL (,)" ile ayırınız. Örn: ₺ 12,99 gibi.
                </div>
                </div>*@

                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>

